{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
    <div class="container-fluid m-4">
        <div class="form-group">
            {{ form_start(changePassForm) }}
        </div>
        <div class="form-group">
            {{ form_row(changePassForm.password, {'label': 'Mot de passe','attr' : {'placeholder': 'Mot de passe'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(changePassForm.confirm_password, {'label': 'Confirmation','attr' : {'placeholder': 'Confirmation mot de passe'} }) }}
        </div>
        {{ form_end(changePassForm) }}
    </div>
{% endblock %}
