{% extends 'base.html.twig' %}

{% block title %}Nouveau Commentaires{% endblock %}

{% block body %}
    <h1>Ajouter un Commentaire</h1>

    {{ include('commentaires/_form.html.twig') }}

    <a href="{{ path('commentaires_index') }}">Retourner à la liste des commentaires</a>
{% endblock %}
