@import "~bootstrap/scss/bootstrap";

body {
  max-width: 1200px !important;
  background-color: #AAAAAA;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  top: 0px;
  z-index: -1;
}

.navbar-dark .navbar-nav .nav-link {
  &:hover {
    color: cadetblue;
  }
}

.navbar-dark .navbar-brand:hover {
  color: cadetblue;
}

.space {
  height: 15px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.connection {
  position: absolute;
  right: 2em;
}

.card {
  background-color: #AAAABB;
}


.img-moto {
  max-height: 235px;
}

.column {
  display: flex;
  flex-direction: column-reverse;
}

a {
  .btn {
    color: white;
  }
}


.pagination .page {
  margin-inline: 0.5rem;
}

.pagination .current {
  margin-inline: 1rem;
}

.pagination .first {
  margin-inline: 0.25rem;
}

.pagination .last {
  margin-inline: 0.25rem;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-item {
  background-color: #313131;
  margin: 0;
  border: black 1px solid;

  &:hover {
    color: black;
    background-color: grey;
  }
}

.dropdown-menu {
  padding: 0;
  top: 85%;
}

.grey {
  color: gray;
}

#annoncesmoto {
  display: none;
}

#annoncespieces {
  display: none;
}

#sujet {
  display: none;
}

#commentairesBlock {
  display: none;
}

.cylindreInput {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.textneedco {
  font-size: 1.5em;
}
