@import "~bootstrap/scss/bootstrap";

body {
  max-width: 1200px !important;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  top: 0px;
  z-index: -1;
}

.nav-item {
  color: #5eb5e0;
}

.space {
  height: 15px;
}
