
{% if (article.commentaires.count > 0) %}
    <div class="table">

                {% for commmentaire in comments %}
        <div class="row justify-content-center">
                        <div class="card col-11 m-1 p-2" >
                            <div class="card-header">
                                {{ commmentaire.auteur }} dit :
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ commmentaire.contenu }}</li>
                            </ul>
                            <div class="card-footer">
                                {{ commmentaire.createdAt|date('Y-m-d H:i:s') }}
                            </div>
                        </div>

        </div>
                {% endfor %}
            </div>
        <div class="navigation">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>

{% endif %}
