<h1>Nouveau contact</h1>
<p>Nom renseigné :  {{ contact.nom }}</p>
<p>Email : {{ user is not null ? user.email : contact.email }}</p>
<p>Message : {{ contact.message }}</p>
<p>Envoyé par {{ user is not null ? user.username : contact.email }}</p>
