<h1>Bonjour {{ user.username }}</h1>
<p>Vous recevez cet email car vous venez de soumettre une demande de reinitialisation de votre mot de passe pour le site Lesmotardsdetaregion</p>
<p>Veuillez cliquer sur le lien suivant si vous êtes bien à l'origine de cette demande </p>
<a href="{{ absolute_url(path('app_reset_password',{'token': user.resetToken })) }}">Cliquer ici</a>
