{% extends 'base.html.twig' %}

{% block title %}Editer l'annonce{% endblock %}

{% block body %}
    <h1>Editer annonce</h1>
    <div class="text-left">
        <div>  {{ include('moto/_form.html.twig', {'button_label': "Mettre l'annonce à jour."}) }} </div>
        <div>  {{ include('moto/_delete_form.html.twig') }} </div>
        <p class="ml-2"><a href="{{ path('moto_show', {'id': moto.id}) }}">Voir l'annonce.</a></p>
        <p class="ml-2"><a href="{{ path('moto_index') }}">Retourner à la liste des motos d'occasions.</a></p>
    </div>
{% endblock %}
