{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce moto{% endblock %}

{% block body %}
    <h1>Dépose ton annonce</h1>

    {{ include('moto/_form.html.twig') }}

    <a href="{{ path('moto_index') }}">Retourner à la liste des motos d'occasions</a>
{% endblock %}
