{% extends 'base.html.twig' %}

{% block title %}Nouvelle annonce Pièce détachée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Dépose ton annonce de piéce détachée</h1>
        <div class="d-flex">
            {{ include('piecedetachee/_form.html.twig') }}
        </div>
        <a class="btn btn-dark" href="{{ path('piecedetachee_index') }}">Retourner à la liste des pièces détachées</a>
    </div>
{% endblock %}
