{% extends 'base.html.twig' %}

{% block title %}Nouveau Theme{% endblock %}

{% block body %}
    <h1>Créer un nouveau thème</h1>

    {{ include('themes/_form.html.twig') }}

    <a href="{{ path('themes_index') }}">Retourner à la liste des thèmes</a>
{% endblock %}
